.container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.counter h2 {
    margin: 0 12px;
}

.control {
    background: teal;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 12px;
    color: white;
    width: 200px;
    cursor: pointer;
    transition: all linear 100ms;
}

.control:hover {
    background: rgb(116, 189, 189);
}
