.slider-carousel {
    width: 100%;
    margin-bottom: 24px;

    &-item {
        background-color: aliceblue;

        img {
            max-width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }
}
