.navbar {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    padding: 0 32px;
    position: fixed;

    .profile-button {
        position: relative;
    }
}
